{{#each contacts}}
   <div class="form-example">
       <div class="userchat">
           <a class="userchatfora">
               <img class="userimg" src="{{this.img}}">
               <h5>{{this.user}}</h5>
               <p>{{this.phone}}</p>
           </a>
       </div>
   </div>
{{/each}}

