 <div class="itemtest">
        <div class="testformessage" >
            <div id="chatbox">
              <!-- this div for messages-->
            </div>
        </div>
        <div id="chat-bar-bottom">
            <!-- this div for scrolling-->
            <p></p>
        </div>
        <div class="testforbtn">
            <!-- this div for send message block-->
            <div class="chat-bar-input-block">
                <div id="userInput">
                    <input name="message" id="textInput" class="input-box" type="text" name="msg"
                           placeholder="Tap 'Enter' to send a message">
                    <p></p>
                </div>
                <div class="chat-bar-icons">
                    <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                       onclick="heartButton()"></i>
                    <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                       onclick="sendButton()"></i>
                </div>
            </div>
        </div>
        </div>




