
    <div data-id="6096fa2f-c074-4f20-8147-0ec6c6de6604" class="testformessage">
        <div id="chatbox">
            <p  class="userText"><span>testing test</span></p>
            <p  class="botText"><span>testing test</span></p>
            <!-- this div for messages-->
        </div>
    </div>
    <div data-id="74ba7523-75b0-47ee-b327-2b2d0d61fad4" class="chat-bar-bottom"><p>chatscroll</p>
    </div>


    <div data-id="c6205877-0a04-404c-b478-31bb65e11be1" class="testforbtn">
        <!-- this div for send message block-->
        <div class="chat-bar-input-block">
            <div id="userInput">
                <input name="message" id="textInput" class="input-box" type="text" placeholder="Tap"
                       &#x27;enter&#x27;="" to="" send="" a="" message="">
                <p></p>
            </div>
            <div class="chat-bar-icons">
                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i>
                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
            </div>
        </div>


    </div>
