
    <!-- this div for send message block-->


            <input name="message" id="textInput" class="input-box" type="text" name="msg"
                   placeholder={{text}}>
            <p></p>



